<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello worlds

</body>
</html>
<!--
  <tr th:each="weibo : ${wblist}">
                            <td>
                                <span th:text="${weibo.id}"></span>
                            </td>
                            <td>
                                <span th:text="${weibo.userName}"></span>
                            </td>
                            <td>
                                <span th:text="${weibo.content}"></span>
                            </td>
                            <td>
                                <a th:href="'/reportManageGET?oper=1&id='+${weibo.id}" class="btn btn-default">删除</a>
                                <a th:href="'/reportManageGET?oper=2&id='+${weibo.id}" class="btn btn-default">禁言</a>
                            </td>
                        </tr>
-->